<html lang="en">
    <head>
        <title>Freecoders</title>


        <!--- Required libraries for the front end and javascript part.-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="bg">
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">FreeCoders.org</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="applications">Applications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mods">Mods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="plugins">Plugins</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="users">Users</a>
                        </li>
                        <% if(user == undefined){%>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                        <%}%>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="row">
            <div class="centerSlogan">
            <h1>We love coding</h1>
            <br>
            <p><%= user %><p>
            <p>
                Freecoders in a website for small developers to get to know a community and make awesome<br> products together. All from helping with modding to real applications.
            </p>
            <button type="button bg-light" class="btn btn-outline-success" id="btnIndexPOS">Read more</button>
            </div>
  
        </div>

    </body>
</html>