<html lang="en">
    <head>
        <title>Freecoders</title>


        <!--- Required libraries for the front end and javascript part.-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div class="row">
            <div class="centerSlogan">
                <h2>Privacy</h2><br><a href="index">Back</a><br><p>All the things you will need to know about how we keep your information secure.</p>
            </div>
        </div>
    </body>
</html>